@model IEnumerable<Schoolapp1.student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
    </tr>

@foreach(var item in Model) { 
<tr>
    <td>
        @Html.DisplayFor(modelitem => item.StudentName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id=item.StudeneID }) |
        @Html.ActionLink("Details", "Details", new { id=item.StudeneID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.StudeneID})
    </td>
</tr>


}

</table>